/Bootstrapping_Results/Azimuth_Results/*
/Bootstrapping_Results/Human_Primary_Motor_Cortex_Results/*
/Bootstrapping_Results/PBMC_Results/*
/Bootstrapping_Results/Pollen_Results/*
/Bootstrapping_Results/TabulaMuris_Liver_Results/*
/Bootstrapping_Results/TabulaMuris_Lung_Results/*
/Bootstrapping_Data_Hold/
/no_name_results/PBMC_Results/*
/no_name_results/Pollen_Results/*
/no_name_Data_Hold/
/Sensitivity_ARI_Results/Azimuth_Results/*
/Sensitivity_ARI_Results/Human_Primary_Motor_Cortex_Results/*
/Sensitivity_ARI_Results/PBMC_Results/*
/Sensitivity_ARI_Results/Pollen_Results/*
/Sensitivity_ARI_Results/TabulaMuris_Liver_Results/*
/Sensitivity_ARI_Results/TabulaMuris_Lung_Results/*
/Sensitivity_ARI_Results/PBMC_Antibody_GEX_Results/
/Sensitivity_ARI_Results/SC1_Spleen/
/Main_Data_Hold/
/vst_results/TabulaMuris_Liver_Results/*
/vst_Data_Hold/
/Distortion_Free_PCA/
/Filtered_Input/
/Statistical_Tests/
/Properties_and_Performance/
/*.sh
/*.log
/*.html
/PBMC_Antibody_GEX_Sensitivity_ARI.Rmd
/SC1_Spleen_Unsupervised_ARI.Rmd